# Compiled Lua bytecode
*.luac

# Temporary files
*.tmp
*.bak
*.swp
*.swo

# OS-specific files
.DS_Store
Thumbs.db

# LÖve releases
*.love

# Build or release directories
releases/*.love
releases/*.zip
releases/*.tar.gz
build/

# IDE or editor-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
